
textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
}

.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    font-family: 'NanumGothic';
}

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}
